/* TodoItem.css */

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
select option {
  text-decoration: none;
}

.todo-item.completed {
  text-decoration: line-through;
}
.todo-item.completed
#checkbox {
  margin-right: 10px;
}

#text {
  flex-grow: 1;
  font-size: 18px;
}
#select
{
  
  text-decoration: none;
}
select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}
select option:not(:checked) {
  /* Remove line-through for unchecked options */
  text-decoration: none;
}

select[value="LOW"] {
  color: #00a86b;
  text-decoration: none;
}

select[value="MEDIUM"] {
  color: #ffa500;
  text-decoration: none;
}

select[value="URGENT"] {
  color: #ff4500;
  text-decoration: none;
}

select option[value="LOW"] {
  background-color: #00a86b;
  color: #fff;
  text-decoration: none;  
}

select option[value="MEDIUM"] {
  background-color: #ffa500;
  color: #fff;
  text-decoration: none;    
}

select option[value="URGENT"] {
  background-color: #ff4500;
  color: #fff;
  text-decoration: none;    
}
.todo-item.urgent {
  background-color: #ff4500; /* Red for URGENT */
  color: #fff; /* White text for URGENT */
}

.todo-item.medium {
  background-color: #ffa500; /* Orange for MEDIUM */
  color: #fff; /* White text for MEDIUM */
}

.todo-item.low {
  background-color: #00a86b; /* Green for LOW */
  color: #fff; /* White text for LOW */
}